- unless @card.blank?
  .row
    .col-md-6.col-md-offset-3
      .thumbnail.card
        %h2
          = @card.original_text
        = simple_form_for @card, url: check_path, method: "post"  do |f|
          .form-group
            = f.input :original_text, as: :hidden
            .card-image
              = image_tag @card.image.url(:medium)
            = f.input :translated_text,
                      input_html: { value: ""}
          .form-group
            = f.button :submit, value: t("check"), class: "ac-check-submit"
- else
  %h2
    = t(".zero")
