- unless @card.blank?
  .row
    .col-md-6.col-md-offset-3
      .thumbnail.card
        %h2
          = @card.original_text
        = simple_form_for @card, url: check_path, method: "post"  do |f|
          .form-group
            = f.input :original_text, as: :hidden
            = f.input :translated_text,
                      label: "Translation",
                      input_html: { value: ""}
          .form-group
            = f.button :submit, value: "Check", class: "ac-check-submit"
        - if flash[:notice] or flash[:error]
          .alert{ class: flash[:notice] ? "alert-success" : "alert-danger" }
            = flash[:notice]
            = flash[:error]
- else
  %h2
    Нету доступных карточек, приходи позже.
