= simple_form_for current_user do |f|
  - if params[:change] == "email"
    = f.input :email, label: "Email"
    = f.input :password, label: "Password"
  - else
    - if current_user.crypted_password
      = f.input :password, label: "Current password"
    = f.input :new_password, label: "New Password", required: true
  = f.button :submit, value: "Change"