.row
  .col-md-6.col-md-offset-3
    %h2
      = t("registration")

    = simple_form_for @user do |f|
      = f.input :email
      = f.input :password
      .text-center
        = f.button :submit, class: "ac-signup-submit"

    .login-button-wrapper
      %a.login-button.is-facebook{ href: auth_at_provider_path(provider: :facebook) }
      %a.login-button.is-twitter{ href: auth_at_provider_path(provider: :twitter) }

