.row
  .container
    %h2
      = t("settings")

    - if current_user.email
      %h3
        #{ t("email") }:
        %strong
          #{current_user.email}

    %h3
      #{ t("language") }:
      %strong
        #{current_user.locale}

    .btn-group
      %a.btn.btn-default{ href: edit_user_path(current_user) }
        = t("change_information")

