= simple_form_for @card, url: cards_path do |f|
  = f.input :original_text, label: "Word"
  = f.input :translated_text, label: "Translation"
  = f.input :image, as: :file, input_html: { accept:"image/*" }
  = f.input :review_date,
            label: "Review Date",
            as: :date,
            html5: true,
            input_html: { value: (Time.zone.today + 3.days).strftime("%Y-%m-%d") }
  = f.button :submit, value: @card.new_record? ? "Add" : "Update"