.row.grid
  - @cards.each do |card|
    .col-sm-6.col-md-4.element
      .thumbnail
        .caption
          %h3
            = card.original_text
          %p
            %strong
              #{t("word")}:
            = card.translated_text
          .card-image
            = image_tag card.image.url(:medium)
          - if card.deck
            %p
              %strong
                #{t("deck")}:
              = card.deck.name
          %p
            %strong
              #{t("review_date")}:
            = card.review_date.strftime("%d/%m/%Y")
          .buttons
            = link_to t("edit"), edit_card_path(card), class: "btn btn-sm btn-default"
            = link_to t("delete"), card_path(card), class: "btn btn-sm btn-danger", method: :delete
