.row.grid
  - @cards.each do |card|
    .col-sm-6.col-md-4.element
      .thumbnail
        .caption
          %h3
            = card.original_text
          %p
            %strong
              Translation:
            = card.translated_text
          .card-image
            = image_tag card.image.url(:medium)
          - if card.deck
            %p
              %strong
                Deck:
              = card.deck.name
          %p
            %strong
              Review Date:
            = card.review_date.strftime("%d/%m/%Y")
          .buttons
            = link_to "Edit", edit_card_path(card), class: "btn btn-sm btn-default"
            = link_to "Delete", card_path(card), class: "btn btn-sm btn-danger", method: :delete
