.row
  .col-md-12
    %a.btn.btn-default{ href: new_deck_path }
      %span.glyphicon.glyphicon-plus
      = t(".add")

.row.grid
  - @decks.each do |deck|
    .col-sm-6.col-md-4.element.ac-deck
      .thumbnail
        .caption
          %h3
            = deck.name
          - if deck.current?
            %p
              = t(".current")

          .buttons
            = link_to t("edit"), edit_deck_path(deck), class: "btn btn-sm btn-default"
            - if !deck.current?
              = link_to t("make_current"), deck_current_path(id: deck.id), class: "btn btn-sm btn-default"
            = link_to t("delete"), deck_path(deck), class: "btn btn-sm btn-danger", method: :delete
